<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Django demo</title>
<link href="assets/min/entireframework.min.css" rel="stylesheet" type="text/css">
	<style>
			h1 {
				    margin: 0.2em 0;
    border-bottom: 5px solid;
    margin-bottom: 15px;
    padding-bottom: 5px;
			}
		</style>
</head>
<body>
<div class="container">

<h1>Your Django app is working!</h1>

<p>You can log in into django <a Href="django/admin">admin panel</a> with admin/adminpass</p>


</div>

</body>
</html>